@mixin centerThings {
    justify-content: center;
    align-items: center;
}

@mixin forFontBree {
    font-family: 'Bree Serif', serif;
    color: #5D432C;
}

@mixin forFontDMSans {
    font-family: 'DM Sans', sans-serif;
    color: #5D432C;
}

@mixin forBox {
    width: auto;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    @include forFontDMSans;
}

body {
    background-color: #CAB39F;
    background-image: url(/assets/img/dino.png);
    background-position: center;
    background-size: contain;
}

.mainBody {
    display: flex;
    flex-flow: column;
    @include centerThings;
}

.mainTextBody {
    display: flex;
    @include centerThings;
    @include forFontBree;
    font-size: 26px;
    text-shadow: 3px 6px rgb(145, 137, 137);
}

.inputTitle {
    @include forFontBree;
    font-size: 20px;
}

.selectBox {
    display: flex;
    flex-flow: column;
    @include centerThings;
}

.selectCSS {
    @include forFontDMSans;
    font-size: 16px;
    @include forBox;
}

.inputCSS {
    @include forBox;
    text-align: center;
    text-align: center;
}

.buttonCSS {
    @include forFontDMSans;
    @include forBox;
    text-align: center;
    cursor: pointer;  
}

.buttonCSS:active {
    border: none;
    transform: translateY(5px);
}

.footerCSS {
    display: flex;
    @include centerThings;
    @include forFontDMSans;
}